services:
  - type: web
    name: public-data-explorer-backend
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: node src/server.js
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_ACCESS_SECRET
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: PORT
        value: 4000