.about {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 100px;
}

.about section.card, .about section.TitleCard{
    background-color: rgb(31, 9, 46);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about section.TitleCard h1 {
    font-size: 54px;
    margin: 0;
}

.about section.TitleCard h2 {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about section.TitleCard p {
    font-size: 26px;
    margin: 0;
    text-align: center;
}

.about section.card h2 {
    font-size: 36px;
    margin: 0;
}

.about section.card h3 {
    font-size: 32px;
    margin: 0;
}

.about section.card p {
    font-size: 26px;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.about section.card ul {
    font-size: 26px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about section.card a {
    color: rgb(226, 78, 239);
    text-decoration: none;
}