.dashboard {
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  color: white;
  justify-content: center;
}

.chart-card {
  background-color: var(--color-surface);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  position: relative; /* pentru poziționarea butonului */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Buton plasat sus dreapta */
.chart-card .toggle-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background-color: var(--color-chart-primary);
  color: white;
  transition: background-color 0.3s ease;
  user-select: none;
}

/* Efectul buton activ */
.chart-card .toggle-btn.active,
.chart-card .toggle-btn:hover {
  background-color: var(--color-accent);
}

/* SVG-ul sa ocupe toata latimea disponibila, cu o inaltime fixa */
.chart-card svg {
  width: 100%;
  height: 650px;
}

.chart-card svg text {
  font-family: 'Arial', sans-serif;  /* sau orice font vrei */
  font-size: 14px;                   /* ajustează după cum vrei */
  fill: var(--color-neutral-light); /* culoarea textului */
  
}