.home {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    margin-top: 100px;
}

.home section.card, .home section.TitleCard{
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--color-border-translucent);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-strong);
}

.home section.TitleCard h1 {
    font-size: 54px;
    margin: 0;
}

.home section.TitleCard h2 {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home section.TitleCard p {
    font-size: 26px;
    margin: 0;
    text-align: center;
}

.home section.card h2 {
    font-size: 36px;
    margin: 0;
}

.home section.card h3 {
    font-size: 32px;
    margin: 0;
}

.home section.card p {
    font-size: 26px;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.home section.card ul {
    font-size: 26px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home section.card a {
    color: var(--color-accent);
    text-decoration: none;
}