.navbar {
  background-color: rgb(31, 9, 46);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 60px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.navbar a[aria-current="page"] {
  border-bottom: 2px solid white;
}

.navbar a:hover {
  opacity: 0.85;
}

.navbar img {
  height: 60px;
  width: auto;
  filter: brightness(0) invert(1);
}

.navbar .navbar-logo a {
  display: flex;
  align-items: center;
  gap: 50px;
}